sudo: required
dist: trusty
language: node_js
node_js:
  - stable
branches:
  except:
    - gh-pages
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_script: yarn add polymer-cli
script:
  - xvfb-run wct --module-resolution=node --npm --skip-plugin sauce
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --module-resolution=node --npm --plugin sauce --skip-plugin local; fi'
after_success:
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET" -in deploy.enc -out deploy_key -d; fi'
  - cd $TRAVIS_BUILD_DIR/scripts
  - chmod 755 ghp.sh
  - ./ghp.sh
env:
  global:
    - secure: WizpPyPZ2DbRgClxCr4/mg+ARhQa5TEoqfqbl8xt0MWvdReDdCmfTRzvbbNqMZPx97qoyuneoin7aleuUH53Y1T9jFoy7ywz/RM/oYWcYPqnfejaUBcQqDe3uO0bm06krimOE9KD6GvXc+yQQw/K2h06YQ1fM52jfYKUjRC4fusQPNR2L19z2GYiYAwErqLgNhTJUuH68TV4rI7WiVVayoshEwdDsagmqvO6A+Gu9ZUWTJzI1qHr98yFjw3+Fl0X7NCt90vNCfJhZDaj02JY+9VFL4jQEDWp+KbjETjVZVh/crLGnDPxIaBozRlHydGxlsoCy24SHAssltILxmM3rOzhcweqhecs6LbuzaRTLoysuKytEeuDbZ/9m1OmLkHvWXBEuKPFbkXF0kOc7+/EvRkvL258d3sm6pigNTvmB5ZymFycyHPSRyOQw+n65cTx22xsfuhJIMRx3pOY0iZ33tF3E03miShyANlvzuJGV5MHSA5ShcKen3GqC8QyL0QZt1BXjxQ03o7E/Sb/iCizlFFsa73UH2k9TTcMjTwVjH8BA0mUcDsuKihNhk6Vl5pJC/b0Q1iC/RZoUDdUUDzYogoVImC/FbmFc4ygrkVDrOXOIODbPKAgoLzNuz5PZLHdxpMug7XBHERp+n4TAC/fHygMYn/v0ip8TSYszYOVtqA=
    - secure: d8c+O7ChEVJTBd54TaSdYZJ3h64idJ6amtRiBLHgCq8XBhZQyqSf8xYY/iTtEG94gJP3ttG7YsAnHg6WaENGRnHPzXcYP7WvIww/vxEaTsUMCF5Z2LBWSUl61aBC6AIgpZ4Skuq29YQbQomNI7uT0LAlBmG1OJNJzM9G2LYq9U+I3Jcoiug+lUO7OLIlwesKJspj90WiYgVmGKtLV55/Y/zerMcA4ik3qbC9sGvDtoPVHzygjm8nphSJs5ZfGAWfuU6qUwwcxZUYHbopTFduO98zf0fkQTUdSVkcRsE9nJnh1u7V1QRVjWi15iQpinzbcIUISwliK/435wdB+p3cH7ku3voYnrvL/IZ0HBko0GxuXEHgy6+VF9UqFDFqvRE/DPmD17jcj4M5okkZsuLI349f+z/hXSWiHFs5hxWYHUcDDeY6FpyrhjVQeuLdDQCXwZImHyA0N8ki1CyEN9cgNCeBjbrjRFsRznhKZC7w95dziHTqrT72X8k7YNLo1/k6gQlhrOgly/bLraDZRFaAQ2pc6bm4Sqb7JOt2B8blE/aXi2h2uK7103mWGIkW/+KLkrN4/DR9r4pSInnUuT88YpN7UGkHq783F2ElaAh8ZKSYbbdEJhDXVWfjtj74YhfjKlSfBe9JF20X2QwGXoRdhZx3gtsadgZr/FUCgPUk4Y4=
    - secure: C6opOZWftGaL25sFqsC0uG6k/c3gMaoLYiOCxRzQjWDxsW53VZhg+6zdfWIKr6NGPEzjy7QVAIVy+OKWklwpqzmKhKgh/pzmdFEjjrrkXADXs6BHmtAuHjLbFKzehD+JEVnqQd3V+lxteDP9WJfav2vN04Z/Up+rdY+d13ypvfoW+6wygmzHg2isS+VExVL8qm2N5Xl0J+lfsm7zYDCT9NER/jHJ+ZVQ+QtNpc7+GLRJTnDFcjZK6sopT6qy5L1EMUsIH4CGZqzvc8LzehlR3C+VPnSi0shhp2WkG0sn+T1yYOk9RpPoRCptybhp4s1srM5XHgR17BhrxPvjIgs/6zVhy4MVmiVz3e6TQDBI91qTGpUOvZ7VlgZoKBw4+Oga2QjC3GQvHiQHkqCgitfQB3KNMYlFpfHxEBoOezFG9m3uV2TaCvKIWLmUmNrmHZtnDHUyJqE7LHVVAHd8X+1LMFogRsu/4XHNJsGEDuuL/dULo6y4wBUWqMeb54arkAzC9T6bwUfuPKRsOnibTODWMYad056V5rWCsj4XdEZ69WkpOJXbMUK3aAOw+OBS9pNh2qSIdG2aafXWldOZnXjb8/uhZcEb8EPjShMvpDaLgacI2N1xynW1dLJg2iVzueGqFX4UoF6SNBFsfQ96k/GeIuUsqCtLQkborlJIbn0vWV8=
    - secure: XoMDgyyhcNuc2g9gL/JvZ4K69xq/dfmsm4OTMygkUOdyatNLn4cnlj9qK4pX6dQtVynptJOiHM48Eew8fjjDL0Z2G1+Gs/C7pw5G0+xDtItxlLUPDL9sWV5PtCcuetNaAwugXcyu/1vvhEFO8enkRk00g2/XMeNGZ97oqzGHu16wy/YA8Yx+5EACSD8LWFtHtlkA3yKrXKCv+WYk66+ib5BUSNQzKtfiOMw+nCc5Nl75uA5hZJNIaLcw3pzkGgXDRUP1mgttZOau36cFodMx4BXO4DDNKRQIOIcmJUZs4UHzmQ2TZmQfA/fxilEhaYY/i4XcXeF8pS+np5rga85soPPUtCPLwNjJ20VaLElYiGA9Vy0wTETAWBo2M7bKSOq6NIlC9DUJbKAnBUaFN8XDRehwamtXadjiVbNenvWcDXBzWhec79kReeOfpXS07XujAE+vnr2BmSUlw37/MFI8mxtPjoWICAGECa2tFSKAx5sC+t1Uc45lQ5Aga1945ZSqdanfnYHxMXm1/0ACJGT4X6qdC+EmLnBpnk2OJoO0hpn45O97/lhs4GUxnJ7DSCU76Ij8va+N/Z2WZgi1mvAeAMZM/uUo8WYcsiOQpRHwkO4Aqw1fYl0quj9aeLMy+/w+KM8oE6JgHP/hf301F4z0eHBc1fPiG0j1UlwHbV/gzD8=

